/*	Radial Progressbar
---------------------------------------------- */

.file-progress {
	background-color: unset;
	height: unset;
	width: unset;
}

.file-status.file-working {
	background: url('./images/plupload/throbber.svg');
	background-size: cover;
}

.file-status.file-uploaded {
	background: url('./images/plupload/done.svg');
	background-size: cover;
}

.file-status.file-error {
	background: url('./images/plupload/error.svg');
	background-size: cover;
}

.imcger-radial-progress {
	position: absolute;
}

.imcger-radial-progress > svg {
	transform: rotate(270deg);
}

.imcger-radial-progress circle {
	border: 12px solid transparent;
	stroke-width: 12px;
	fill: transparent;
	transform: rotate(0.1deg);	/* to fix Firefox */
}

.imcger-radial-progress > svg, .file-status {
	vertical-align: middle;
	height: 1.5em;
	width: 1.5em;
}
