<div class="panel bg3 panel-container" id="attach-panel">
	<div class="inner">

	<p>{L_ADD_ATTACHMENT_EXPLAIN} <span class="hidden" id="drag-n-drop-message">{L_PLUPLOAD_DRAG_TEXTAREA}</span></p>
	{% if MAX_ATTACHMENT_FILESIZE is not empty %}<p>{{ MAX_ATTACHMENT_FILESIZE }}</p>{% endif %}

	<fieldset class="fields2" id="attach-panel-basic">
	<dl>
		<dt><label for="fileupload">{L_FILENAME}{L_COLON}</label></dt>
		<dd>
			<input type="file" accept="{{ ALLOWED_ATTACHMENTS }}" name="fileupload" id="fileupload" class="inputbox autowidth" />
			<input type="submit" name="add_file" value="{L_ADD_FILE}" class="button2" onclick="upload = true;" />
		</dd>
	</dl>
	<dl>
		<dt><label for="filecomment">{L_FILE_COMMENT}{L_COLON}</label></dt>
		<dd><textarea name="filecomment" id="filecomment" rows="1" cols="40" class="inputbox autowidth">{FILE_COMMENT}</textarea></dd>
	</dl>
	</fieldset>

	<div id="attach-panel-multi" class="attach-panel-multi">
		<input type="button" class="button2" value="{L_PLUPLOAD_ADD_FILES}" id="add_files" />
	</div>

	{% EVENT posting_attach_body_file_list_before %}
	<div class="panel<!-- IF not .attach_row --> hidden<!-- ENDIF --> file-list-container" id="file-list-container">
		<div class="inner">
			<table class="table1 zebra-list fixed-width-table">
				<thead>
					<tr>
						<th class="attach-name">{L_PLUPLOAD_FILENAME}</th>
						<th class="attach-comment">{L_FILE_COMMENT}</th>
						<th class="attach-filesize">{L_PLUPLOAD_SIZE}</th>
						<th class="attach-status">{L_PLUPLOAD_STATUS}</th>
					</tr>
				</thead>
				<tbody class="responsive-skip-empty file-list" id="file-list">
					<tr class="attach-row attach-row-tpl" id="attach-row-tpl">
							<td class="attach-name">
								<span class="file-name ellipsis-text"></span>
								<span class="attach-controls">
									{% if S_BBCODE_ALLOWED %}<input type="button" value="{{ lang('PLACE_INLINE') }}" class="button2 hidden file-inline-bbcode" />&nbsp;{% endif %}
									<input type="button" value="{L_DELETE_FILE}" class="button2 file-delete" />
								</span>
								<span class="clear"></span>
							</td>
							<td class="attach-comment">
								<textarea rows="1" cols="30" class="inputbox"></textarea>
							</td>
							<td class="attach-filesize">
								<span class="file-size"></span>
							</td>
							<td class="attach-status">
								<span class="svg radial-progress file-progress">
									<svg height="24px" width="24px"
										xmlns="http://www.w3.org/2000/svg">
										<desc>
											Grundlegende Elemente stammen aus dem Artikel
											https://www.babbel.com/en/magazine/how-to-create-a-radial-progress-bar-with-svg </desc>
										<circle
											class="radial-progress-background"
											r="6"
											cx="12"
											cy="12"
											stroke-dasharray="37.699"
											stroke-dashoffset="0"
											stroke="#27c627" />
										<path
											fill="currentColor"
											d="M 23.903924,11.825716 C 23.834046,5.2284212 18.423009,-0.06919306 11.825716,6.8338876e-4 5.2284216,0.07056024 -0.06919321,5.4815971 6.8339161e-4,12.078891 0.07056019,18.676185 5.4815973,23.973799 12.07889,23.903924 18.676186,23.834047 23.973799,18.423009 23.903924,11.825716 M 2.3910076,12.053574 c -0.055826,-5.2706649 4.189362,-9.6067415 9.4600244,-9.6625667 5.270665,-0.055825 9.606741,4.1893612 9.662567,9.4600257 0.05583,5.270663 -4.189361,9.60674 -9.460025,9.662567 C 6.7829102,21.56942 2.446833,17.324237 2.3910076,12.053574 M 17.293023,17.382143 9.333484,9.5894479 12.384216,6.4613194 10.681189,4.7939902 5.9511761,9.6252724 15.613743,19.0853 Z"
											style="fill:#008000;stroke-width:1.19524" />
										<path
											fill="currentColor"
											d="M 17.570365,17.292599 9.651262,9.4588109 12.718142,6.3465128 11.023767,4.670392 6.2688152,9.47713 15.882292,18.98704 Z"
											style="fill:#74ff74;stroke-width:1.19524" />
										<circle
											class="radial-progress-cover"
											r="6"
											cx="12"
											cy="12"
											stroke-dasharray="37.699"
											stroke-dashoffset="0"
											style="stroke:#646464;" />
									</svg>
								</span>
								{% INCLUDEJS 'radial_progressbar.js' %}
								<span class="file-status"></span>
							</td>
					</tr>
					{% EVENT posting_attach_body_attach_row_before %}
					<!-- BEGIN attach_row -->
						{% EVENT posting_attach_body_attach_row_prepend %}
						<tr class="attach-row" data-attach-id="{attach_row.ATTACH_ID}">
							<td class="attach-name">
								<span class="file-name ellipsis-text"><a href="{attach_row.U_VIEW_ATTACHMENT}">{attach_row.FILENAME}</a></span>
								{% EVENT posting_attach_body_attach_row_controls_prepend %}
								<span class="attach-controls">
									{% if S_BBCODE_ALLOWED and S_INLINE_ATTACHMENT_OPTIONS %}<input type="button" value="{{ lang('PLACE_INLINE') }}" class="button2 file-inline-bbcode" />&nbsp;{% endif %}
									<input type="submit" name="delete_file[{attach_row.ASSOC_INDEX}]" value="{L_DELETE_FILE}" class="button2 file-delete" />
								</span>
								{% EVENT posting_attach_body_attach_row_controls_append %}
								<span class="clear"></span>
							</td>
							<td class="attach-comment">
								<textarea name="comment_list[{attach_row.ASSOC_INDEX}]" rows="1" cols="30" class="inputbox">{attach_row.FILE_COMMENT}</textarea>
								{attach_row.S_HIDDEN}
							</td>
							<td class="attach-filesize">
								<span class="file-size">{attach_row.FILESIZE}</span>
							</td>
							<td class="attach-status">
								<span class="file-status file-uploaded"></span>
							</td>
						</tr>
						{% EVENT posting_attach_body_attach_row_append %}
					<!-- END attach_row -->
					{% EVENT posting_attach_body_attach_row_after %}
				</tbody>
			</table>
		</div>
	</div>
	{% EVENT posting_attach_body_file_list_after %}
	</div>
</div>
